.nagivation .nagivation-list .nagivation-item .nagivation-link {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color:#1E266D ;

}
.nagivation .nagivation-list .nagivation-item:hover .nagivation-link {
    color: #212353;
    font-weight: 700;
    transition: 0.5s;


}
@media screen  and (min-width:1024px) {

.nagivation .nagivation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}
  .nagivation {
    margin-left: 120px;

}
.nagivation .nagivation-list .nagivation-item { 
    padding-left: 15px;
    padding-right: 15px;
}








}
